VITE_GROQ_API_KEY=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
VITE_SUPABASE_URL=https://csjrkbulusubsyfiduyu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzanJrYnVsdXN1YnN5ZmlkdXl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAzOTg4NzEsImV4cCI6MjA2NTk3NDg3MX0.i7eODnDWg5ffQfjvqCq_8nT8gxRX-uLfdfRa7jqjRgU